<h1><%= params[:type] %> Leave Details</h1>

<div class="col-lg-12">
  <div class="info">
   <div> <span> Total Remaining: <%= current_user.hours_left(params[:type])%> Hours</span> </div>
    <span> Total Consumed: <%= current_user.hours_left(params[:type])%> Hours</span>
  </div>
  <%= render :partial => "leaves" , :locals =>{ :leaves => @leaves} %>
</div>